body{
	margin:0;
}

#titulo1 {
	height:50px;
	border:5px solid steelblue;
	text-align:center;
	font-size:20px;
	font-family:Courier new,monospace;
	background:lightblue;
	color:dark;
	margin:25px;
}
.logo1 {
	width:47px;
	position:relative;
	right:90px;

}
.tit1 {
	position:relative;
	bottom:63px;
	left:20px;
	font-size:30px;

}

.navegacion1{
	position:relative;
	bottom:25px;
	border:3px solid green;
	text-align:center;
	height:20px;
	margin-left:auto;
	margin-right:auto;
	padding:10px;	
}
a {
	text-decoration:none;
	margin:0px;
	color:orange;
}